*.pyc
.idea/
*.log
.settings/*
.pydevproject
.project
.*.swp
*.pid
celery-scripts/celeryd.default.local
local_settings.py
*.sublime-project
*.sublime-workspace
.installed.cfg
.pydevproject.bak
bin
*.egg-info
src/etv_website/production_settings.py
eggs
develop-eggs
parts
