{% extends "admin/index.html" %}

{% load i18n %}

{% block extrahead %}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
        {%for one in all%}
          ['{{one.year}}', {{one.count}}],
         {%endfor%}
        ]);

        // Set chart options
        var options = {'title':'Statistic for year field.',
                       'width':600,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        var options = {'title':'atistic for year field.',
                       'width':500,
                       'height':400};
        var chart = new google.visualization.PieChart(document.getElementById('chart_d'))
        chart.draw(data, options);
      }
 </script>



{{ block.super }}
{% endblock %}


{% block content %}
<div id="content-main">
   <div id="chart_div"></div>
   <div id="chart_div"></div>
</div>
{% endblock %}





{% block sidebar %}
{% endblock %}
